.notransition > div.progress-bar {
  -webkit-transition: none !important;
  -moz-transition: none !important;
  -o-transition: none !important;
  -ms-transition: none !important;
  transition: none !important;
}

.noselect {
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Safari */
  -khtml-user-select: none; /* Konqueror HTML */
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
  user-select: none; /* Non-prefixed version, currently supported by Chrome and Opera */
}

.vertical-align {
  display: flex;
  align-items: center;
}

.section {
  width: 100%;
  margin-bottom: 1rem;
  padding: 1rem 1rem 1rem 1rem;
  background-color: #333c4a;
  border-radius: 1rem 1rem 1rem 1rem;
  border-top: 0.4rem solid #1a202b;
  border-left: 0.4rem solid #1a202b;
  border-right: 0.4rem solid #1a202b;
  border-bottom: 0.4rem solid #1a202b;
}

tr.disabled:hover {
  cursor: default;
}

tr.disabled {
  cursor: inherit;
  background-color: #84878a;
  color: rgba(255, 255, 255, 0.5);
}

.selected {
  text-decoration: underline;
  font-weight: bold;
}

.no-select {
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Safari */
  -khtml-user-select: none; /* Konqueror HTML */
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
  user-select: none; /* Non-prefixed version, currently supported by Chrome and Opera */
}

.header-row {
  background-color: #4b7b30;
}
