<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>My Rust + Webpack project!</title>

    <script src="https://unpkg.com/vue"></script>
  </head>
  <body>
	  <div>
    <button id="Save">Save</button>
    <button id="Load">Load</button>
    <button id="Hard Reset">Hard Reset</button>
	  </div>
      <div id="app_state" style="border:solid;width: 400px; float: left;">
    <button v-on:click="tick">Tick</button>
	      <div style="border:solid;margin:2px;">
	Base Stats
	<ul>
      <li v-for="(value, propertyName) in state.base_stats">
	      {{ propertyName }}: {{ value }}
      </li>
	</ul>
	      </div>
	      <div style="border:solid;margin:2px;">
	Items
	<ul>
      <li v-for="(value, propertyName) in state.items">
	      {{ propertyName }}: {{ value }}
      </li>
	</ul>
	      </div>
      </div>
      <br>
      <div id="app" style="border:solid;margin-left: 420px;">
	      Works
	<ul>
      <li v-for="work in works">
	      <button v-on:click="set_work(work.name)" style="margin:2px;">{{ work.name }}</button>
      </li>
	<ul>
      </div>
    <script src="index.js"></script>

  </body>
</html>
